@model IK_Project.UI.Models.ChangePasswordVM
@{
    Layout = "~/Areas/CompanyManager/Views/Shared/_CompanyManagerLayout.cshtml";
}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona Admin</title>
    <link rel="stylesheet" href="../../assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="shortcut icon" href="../../assets/images/favicon.png" />
</head>
<h2>Change Password</h2>

<form asp-action="ChangePassword" method="post">
    <!-- Old Password input -->
    <div class="form-outline mb-4">
        <label style="font-size:16px;" for="OldPassword">Old Password</label>
        <input style="font-size:16px;" asp-for="OldPassword" id="OldPassword" type="password" class="form-control" />
        <span asp-validation-for="OldPassword" class="text-danger"></span>

    </div>

    <!-- New Password input -->
    <div class="form-outline mb-4">
        <label style="font-size:16px;" for="NewPassword">New Password</label>
        <input style="font-size:16px;" asp-for="NewPassword" id="NewPassword" type="password" class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>

    <!-- Confirm Password input -->
    <div class="form-outline mb-4">
        <label style="font-size:16px;" for="ConfirmPassword">Confirm Password</label>
        <input style="font-size:16px;" asp-for="ConfirmPassword" id="ConfirmPassword" type="password" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))

    {
        <!--Kendi Site keyinizle değiştirin.-->
        <div class="g-recaptcha" data-sitekey="6LchLDAoAAAAAOed9VkYNeO4qaoJu_dPMUpawsiF"></div>
        <div> @TempData["Message"]</div>
        <input type="submit" value="ChangePassword" class="btn btn-primary" />


    }

    @*  <button type="submit" class="btn btn-block btn-primary">Change Password</button> *@

    @if (!string.IsNullOrEmpty(ViewData["OldPasswordError"] as string))
    {
        <div class="text-danger">@ViewData["OldPasswordError"]</div>
    }
</form>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
<script src="https://www.google.com/recaptcha/api.js"></script>