@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using IK_Project.UI.Areas.Admin.Models.ViewModels.DepartmantVMs;

@{
    ViewData["Title"] = "Index";
}


@model List<AdminDepartmantListVM>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona Admin</title>
    <link rel="stylesheet" href="../../assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="shortcut icon" href="../../assets/images/favicon.png" />
</head>
<div class="row">
    <div class="col-lg-12">
        <a asp-action="Create" asp-area="Admin" asp-controller="AdminDepartmant" type="button" class="btn btn-secondary">
            Add Departmant
        </a>
    </div>

</div>
<br />
<div class="row">
    <div class="col-lg-12">
        <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
                <tr>

                    <th>Name</th>
                    <th>Edit</th>
                    <th>Delete</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            <p class="fw-normal mb-1" asp-for="@item.Name">@item.Name</p>
                            <p class="text-muted mb-0"></p>
                        </td>




                        <td>
                            <a asp-action="Update" asp-area="Admin" asp-controller="AdminDepartmant" asp-route-id="@item.Id" type="button" class="btn btn-secondary">
                                Update
                            </a>
                        </td>
                        <td>
                            <a asp-action="Delete" asp-area="Admin" asp-controller="AdminDepartmant" asp-route-id="@item.Id" type="button" class="btn btn-danger">
                                Delete
                            </a>
                        </td>


                    </tr>
                }


            </tbody>
        </table>

    </div>
</div>

