@using IK_Project.Domain.Enums;
@using IK_Project.UI.Areas.CompanyManager.Models.Departmant;
@{
    ViewData["Title"] = "Create";
}
@model CompanyManagerDepartmantCreateVM
<link href="~/css/mailtoggle.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
@{
    int companyId = Convert.ToInt32(TempData["companyID"]);
}
@{
    string companyName = TempData["companyName"] as string;
}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona Admin</title>
    <link rel="stylesheet" href="../../assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="shortcut icon" href="../../assets/images/favicon.png" />
</head>
<html lang="en">
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    * {
        box-sizing: border-box;
    }

    input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }

    input[type=date], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }

    input[type=email], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }

    input[type=number], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }

    input[type=password], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }

    input[type=submit] {
        background-color: #04AA6D;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        input[type=submit]:hover {
            background-color: #45a049;
        }

</style>
@if (Model.Name != "sameName")
{
<div class="container-xl px-4 mt-4">
    <form enctype="multipart/form-data" method="post" asp-action="Create" asp-area="CompanyManager" asp-controller="Departmant">
        <div class="card mb-4 mb-xl-0">
@*            <div class="card-header" style="font-size:18px;">Departmant</div>*@
            <div class="card-body">

@*                <div class="mb-3">
                    <label style="font-size:16px;" class="small mb-1" for="form4Example1">Name:</label>
                    <input style="font-size:16px;" asp-for="Name" id="form4Example1" type="text" />
                    <span asp-validation-for="Name" class="text-danger"></span>

                </div>*@
                <div class="mb-3">
                    <label style="font-size:16px;" asp-for="@Model.Name" class="small mb-1" for="inputUsername">Departmant Name:</label>
                    <input style="font-size:16px;" asp-for="@Model.Name" id="inputUsername" type="text">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                @*  <div class="mb-3">
                    <label style="font-size:16px;" class="small mb-1" for="inputUsername">Departmant Manager:</label>
                    <input style="background-color:lightgrey;" style="font-size:16px;" readonly id="inputUsername" type="text" value="@companyName">
                </div>
               <div class="mb-3">
                    <label hidden style="font-size:16px;" asp-for=@Model.CompanyId class="small mb-1" for="inputUsername">CompanyID:</label>
                    <input hidden style="background-color:lightgrey;" style="font-size:16px;" readonly asp-for=@Model.CompanyId id="inputUsername" type="text" value="@companyId">
                </div>*@
                <!-- Save changes button-->
                <button type="submit" style="font-size:16px;" class="btn btn-primary float-right">Create</button>
            </div>
        </div>
    </form>
</div>
}
else
{
<h3 style="color: red; font-weight: bold;">There is a departmant with same name</h3>
}
</html>


