body {
    font-family: Arial, sans-serif;
}

.toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: 10px;  Sola taşımak için 
  
}

.toggle-label {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 18px;
    margin-right: 10px; /* İstediğiniz kadar sağa boşluk bırakmak için */
}

.toggle-input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 30px;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 14px;
        width: 14px;
        left: 4px;
        bottom: 2px;
        background-color: white;
        transition: 0.4s;
        border-radius: 50%;
    }

.toggle-input:checked + .slider {
    background-color: green;
}

    .toggle-input:checked + .slider:before {
        transform: translateX(26px);
    }

.toggle-input:not(:checked) + .slider {
    background-color: black;
}

.status {
    margin-left: 10px;
    font-weight: bold;
}
